.logosony{
    height: 10px;
}

.jumbodron{
    height: 80vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.logoreturnal{
    width: 100%;
}

.buy{
    color: white;
    background-color: #CD3D0F;
}

.game{
    width: 100%;
}