.logosony{
    height: 10px;
}

.jumbodron{
    height: 80vh;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

.game{
    width: 100%;
}

.buy{
    color: white;
    background-color: #CD3D0F;
}

.accessories{
    opacity: 50%;
    border-bottom: 3px solid white;
}

.accessories:hover{
    opacity: 100%;
    border-bottom: 3px solid blue;
}
