.logosony{
    height: 10px;
}

.jumbodron{
    background-image: url(../img/jumbo-bg.png);
}

.newgame{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

.back{
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: white;
}

.game{
    width: 100%;
}

.buy{
    color: white;
    background-color: #CD3D0F;
}

.accessories{
    opacity: 50%;
    border-bottom: 3px solid white;
}

.accessories:hover{
    opacity: 100%;
    border-bottom: 3px solid blue;
}

.psplus{
    background-color: #BEBCBB;
}

.psnow{
    background-color: #161C3B;
    color: white;
}

.foot{
    background-color: #00439C;
    color: white;
}
